<div style="text-align:center">
  <p class="login-p">
    Please login with your Magento credentials.
  </p>
  <form class="input-form">
    <mat-form-field>
        <input matInput #username type=text placeholder="Username" name=username>
    </mat-form-field><br>
    <mat-form-field>
        <input matInput #password type="password" placeholder="Password" name=password>
    </mat-form-field>
  </form>
  <button mat-button id="login" (click)="login(username.value, password.value);">Login</button>
</div>
<router-outlet></router-outlet>