<form class="ticket-form">
    <mat-form-field class="full-width">
        <input matInput [matDatepicker]="picker1" placeholder="Start Date" #startDate
        [formControl]="dateForm">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker [startAt]="date" touchUi #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput [matDatepicker]="picker2" placeholder="End Date" #endDate>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker2></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-select placeholder="Ticket Status" #ticketStatus>
          <mat-option value="New">New</mat-option>
          <mat-option value="In Progress">In Progress</mat-option>
          <mat-option value="Fixed">Fixed</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-select placeholder="Product Status" #productStatus>
          <mat-option value="Repaired">Repaired</mat-option>
          <mat-option value="Procured">Procured</mat-option>
          <mat-option value="Replaced">Replaced</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-select placeholder="Product" #product>
          <mat-option *ngFor="let product of products" value="{{product.id}}">{{product.description}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
          <input matInput type="number" placeholder="Quantity" #quantity>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput type="number" placeholder="Time needed (in h)" #time>
   </mat-form-field>
   <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Summary" #summary>
 </mat-form-field>
 <mat-form-field class="full-width">
   <textarea matInput placeholder="Description" #description></textarea>
 </mat-form-field>
<mat-form-field class="full-width">
    <textarea matInput placeholder="Comments" #comments></textarea>
  </mat-form-field>
  <input #imageInput
         type="file"
         accept="image/*"
         >
 </form>
 <button mat-button id="save" (click)="save(startDate.value, endDate.value, ticketStatus.value,
 productStatus.value, product.value, quantity.value, time.value, summary.value, 
 description.value, comments.value, '');">Save</button>
