<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <ul data-activates="slide-out">
          <li>Customers</li>
          <li>Logout</li>
        </ul>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
<div style="text-align:center">
  <p>
    Please login with your Magento credentials.
  </p>
  <form>
    Username
    <input #username type=text name=username><br>
    Password
    <input #password type="password" name=password>
  </form>
  <button id="login" (click)="login(username.value, password.value);" routerLink="/customers">Login</button>
</div>
<router-outlet></router-outlet>
