.ticket-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  
  .full-width {
    width: 80%;
  }


  .thumbnail {
    height: 150px;
    display: flex;
    text-align: center;
  }
  
  .thumbnail img {
    width: 100px;
    height: 100px;
    margin: auto;
  }
  #imageDelete {
    position: absolute;
    right: 20%;
    display: inline-block;
    vertical-align: middle;
  }

  .divImageInput{
    display: flex;
  }
  #imageInput {
    margin: auto;
    margin-bottom: 10px;
  }

  #update{
    margin-bottom: 10px;
  }
  
