<div class="content-container">
  <mat-toolbar color="primary" class="toolbar" id="toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span class="app-name" id="headerTitel">{{navigationService.getHeaderTitle()}}</span>
            <div><img class="logo" src="./assets/logo_no_background.png"></div> 
            <button *ngIf="navigationService.getAddStatus()" mat-icon-button id="addButton" (click)="addTicket()">
              <mat-icon class="action">add</mat-icon>
            </button>
            <button *ngIf="navigationService.getDeleteStatus()" mat-icon-button id="deleteButton" (click)="deleteTicket()">
                <mat-icon class="action">delete</mat-icon>
              </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav>
      <mat-nav-list id="nav-list">
          <a *ngIf="navigationService.getTicketListStatus()" mat-list-item routerLink="/ticket-list">Ticket List</a>
          <a *ngIf="navigationService.getLoginStatus()" mat-list-item routerLink="/user-login">Login</a>
          <a *ngIf="navigationService.getLogoutStatus()"  mat-list-item routerLink="/user-logout">Logout</a>
      </mat-nav-list>        
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
